body {
  margin: 0 !important;
  background-color: #ccc !important;
}

.test {
  background-color: #000 !important;
}

#_wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#_container {
  width: auto;
}
