<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css" />
    <title>TinyApp</title>
  </head>
  <body>
    <h1 style="font-family: 'Source Sans Pro', sans-serif;">TinyApp</h1>
    <% if(id) {%>
    <h3>Hi <%= id.email %></h3>

    <form style="float: right !important; margin-top:-20px !important; id="form_button" class="form-inline"
    method="POST" action="/logout">
    <button type="submit">Logout</button>
    <% } else { %>

      <a href="/login">Login</a>

      <a href="/register">Register</a>
    
    <% } %>
    </form>
  </body>
</html>
