<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css" />
    <title>TinyApp</title>
  </head>
  <body>
    <h1 id="logo">TinyApp</h1>
    <% if(id) {%>
    <h3 class="head3">Logged as <%= id.email %></h3>
    <form class="form-inline" method="POST" action="/logout">
      <button id="_logout_btn" type="submit">Logout</button>
      <% } else { %>
      <a id="_login_btn" href="/login">Login</a>
      <a id="_register_btn" href="/register">Register</a>

      <% } %>
    </form>
  </body>
</html>
