<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css" />
    <title>TinyApp</title>
  </head>
  <body>
  </br>
  <h2>Login</h2>
</br>
    <form id="_header" method="POST" action="/login">
      <input class="login" type="email" name="email" placeholder="Type your email" style="width: 300px; margin: 1em" />
      <input
        class="login"
        type="password"
        name="password"
        placeholder="Type a password"
        style="width: 300px; margin: 1em"
      />
      <button
        style="border-top-left-radius:0px !important; border-bottom-left-radius: 0px !important; margin-left: -20px;"
        type="submit"
      >
        Login
      </button>
    </form>
  </body>
</html>
