<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css" />
    <title>TinyApp</title>
  </head>
  <body>
      <h1 style="margin-top: 70px; margin-left:-30px; text-align:center; font-size:2.8em !important;" id="logo">TinyApp</h1></a>
      <section id="_parent">
        <div id="_child">
    <h2 style="position: absolute; margin-left:220px; margin-top:-150px; font-size:2em; opacity:0.8;">Register</h2>
  </br>
    <form style="position:absolute; left:22% !important; top:45%;" id="_header" method="POST" action="/register">
      <input id="_input_left" class="login" type="email" name="email" placeholder="Your email..." style="width: 300px; margin: 1em" />
      <input class="login" style="width: 300px; margin: 1em" type="password" name="password" placeholder="You password"/>
      <button style="height:54px;" id="_submit_btn" type="submit">Login</button>
    </form>
    </div>
    </section>
  </body>
</html>
