<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900" rel="stylesheet"><link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <header>     <% include ./partials/_header %> </header>
    <section id="_parent">
        <div id="_child">
    <table id="_table" style="width:100%;">
            
        <% Object.keys(urls).forEach(function (key) { %>
            <tr>
              <th>Shortened URL </th>
              <th>Full URL</th> 
              <th>Take an action</th> 
              <th style="color: #007bff;">Danger Zone</th> 
            </tr>
            
            <tr>
                        <td><%= key %></td>
                        <td><%= urls[key].longURL %></td>
                        <td><a class="_edit_btn" href="/urls/<%= key %>">Edit</a></td>
                        <td><form class="form-inline"  method="POST" action="/urls/<%= key %>/delete">
                          <button class="_edit_btn" type="submit" >Delete</button>
                        </tr>
                        </form></td>     
                        </tr>
                <% }) %>            
          </table>
          <asiden class="_shorten_parent">
<div class="_shorten_btn">
    <a  id="_shorten_btn" href="/urls/new">Shorten my URLS</a>
</div>
</aside>
        
        </div>
        </section>
</body>
</html>